/* === Forms === */
.list-block input[type="text"],
.list-block input[type="password"],
.list-block input[type="search"],
.list-block input[type="email"],
.list-block input[type="tel"],
.list-block input[type="url"],
.list-block input[type="date"],
.list-block input[type="datetime-local"],
.list-block input[type="time"],
.list-block input[type="number"],
.list-block select,
.list-block textarea {
  display: block;
  width: 100%;
  height: 2.15rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  padding: 0 0 0 .25rem;
  margin: 0;
  font-family: inherit;
  font-size: .85rem;
  color: #3d4145;
  background: none;
  border: none;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;

     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}
.list-block input[type="date"],
.list-block input[type="datetime-local"] {
  line-height: 2.2rem;
}
.list-block select {
  -webkit-appearance: none;

     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}
.list-block .label {
  vertical-align: top;
}
.list-block textarea {
  height: 5rem;
  padding-top: .4rem;
  padding-bottom: .35rem;
  line-height: 1.4;
  resize: none;
}